In [1]:
import pandas as pd
import numpy as np
import math as m

In [2]:
data = pd.read_csv('/Users/jonathanperalgort/Documents/CMPT353-Computational-Data-Science/Exercises/1/e1/precipitation.csv')

In [3]:
data

,station,name,date,latitude,longitude,elevation,precipitation
0,CA001101158,BURNABY SIMON FRASER U,2016-01-01,49.2833,-122.9167,366.0,0
1,CA001101158,BURNABY SIMON FRASER U,2016-01-02,49.2833,-122.9167,366.0,0
2,CA001101158,BURNABY SIMON FRASER U,2016-01-03,49.2833,-122.9167,366.0,10
3,CA001101158,BURNABY SIMON FRASER U,2016-01-04,49.2833,-122.9167,366.0,15
4,CA001101158,BURNABY SIMON FRASER U,2016-01-05,49.2833,-122.9167,366.0,80
...,...,...,...,...,...,...,...
3167,CA002204101,YELLOWKNIFE A,2016-12-27,62.4667,-114.4333,206.0,0
3168,CA002204101,YELLOWKNIFE A,2016-12-28,62.4667,-114.4333,206.0,0
3169,CA002204101,YELLOWKNIFE A,2016-12-29,62.4667,-114.4333,206.0,0
3170,CA002204101,YELLOWKNIFE A,2016-12-30,62.4667,-114.4333,206.0,12
3171,CA002204101,YELLOWKNIFE A,2016-12-31,62.4667,-114.4333,206.0,2

In [4]:
data

,station,name,date,latitude,longitude,elevation,precipitation
0,CA001101158,BURNABY SIMON FRASER U,2016-01-01,49.2833,-122.9167,366.0,0
1,CA001101158,BURNABY SIMON FRASER U,2016-01-02,49.2833,-122.9167,366.0,0
2,CA001101158,BURNABY SIMON FRASER U,2016-01-03,49.2833,-122.9167,366.0,10
3,CA001101158,BURNABY SIMON FRASER U,2016-01-04,49.2833,-122.9167,366.0,15
4,CA001101158,BURNABY SIMON FRASER U,2016-01-05,49.2833,-122.9167,366.0,80
...,...,...,...,...,...,...,...
3167,CA002204101,YELLOWKNIFE A,2016-12-27,62.4667,-114.4333,206.0,0
3168,CA002204101,YELLOWKNIFE A,2016-12-28,62.4667,-114.4333,206.0,0
3169,CA002204101,YELLOWKNIFE A,2016-12-29,62.4667,-114.4333,206.0,0
3170,CA002204101,YELLOWKNIFE A,2016-12-30,62.4667,-114.4333,206.0,12
3171,CA002204101,YELLOWKNIFE A,2016-12-31,62.4667,-114.4333,206.0,2

In [5]:
data['name']
data.columns

Index(['station', 'name', 'date', 'latitude', 'longitude', 'elevation',
       'precipitation'],
      dtype='object')

In [6]:
totals = pd.DataFrame(data['precipitation'], index=data['name'], columns=data['date'])
counts = pd.DataFrame(data['precipitation'], index=data['name'], columns=data['date'])

In [16]:
totals = totals.groupby(totals.index, axis=0).sum()

In [17]:
totals

date,2016-01-01,2016-01-02,2016-01-03,2016-01-04,2016-01-05,2016-01-07,2016-01-08,2016-01-09,2016-01-10,2016-01-11,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
name,,,,,,,,,,,,,,,,,,,,,
BURNABY SIMON FRASER U,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CALGARY INTL A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GANDER INTL A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HALIFAX INTL A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
REVELSTOKE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SHERBROOKE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TORONTO LESTER B. PEARSON INT',0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
VANCOUVER INTL A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
YELLOWKNIFE A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
def date_to_month(d):
    # You may need to modify this function, depending on your data types.
    return '%04i-%02i' % (d.year, d.month)

In [19]:
date_to_month(totals.columns)

AttributeError: 'Index' object has no attribute 'year'